# HW_05
#Name-Aman Gupta #cwid-20018346

In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [19]:
df = pd.read_csv("breast-cancer-wisconsin .csv",na_values = "?")

In [20]:
df.head()

    Sample  F1  F2  F3  F4  F5    F6  F7  F8  F9  Class
0  1000025   5   1   1   1   2   1.0   3   1   1      2
1  1002945   5   4   4   5   7  10.0   3   2   1      2
2  1015425   3   1   1   1   2   2.0   3   1   1      2
3  1016277   6   8   8   1   3   4.0   3   7   1      2
4  1017023   4   1   1   3   2   1.0   3   1   1      2

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Sample  699 non-null    int64
 1   F1      699 non-null    int64
 2   F2      699 non-null    int64
 3   F3      699 non-null    int64
 4   F4      699 non-null    int64
 5   F5      699 non-null    int64
 6   F6      683 non-null    float64
 7   F7      699 non-null    int64
 8   F8      699 non-null    int64
 9   F9      699 non-null    int64
 10  Class   699 non-null    int64
dtypes: float64(1), int64(10)
memory usage: 60.2 KB

In [22]:
df.columns = ['id', 'clump_thickness', 'cell_size_uniformity', 'cell_shape_uniformity', 
              'marginal_adhesion', 'single_epithelial_cell_size', 'bare_nuclei', 
              'bland_chromatin', 'normal_nucleoli', 'mitoses', 'diagnosis']

df['diagnosis'] = df['diagnosis'].map({2: 'benign', 4: 'malignant'})

df = df.replace('?', np.nan)
df = df.dropna()

cols = ['clump_thickness', 'cell_size_uniformity', 'cell_shape_uniformity', 
        'marginal_adhesion', 'single_epithelial_cell_size', 'bare_nuclei', 
        'bland_chromatin', 'normal_nucleoli', 'mitoses']
df[cols] = df[cols].astype('category')

In [23]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [24]:
X= df.iloc[:,:-1].values
y= df.iloc[:,10].values

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.30)
train_df, test_df = train_test_split(df, test_size=0.3, random_state=42)

In [26]:
from sklearn.tree import DecisionTreeClassifier
# Create the decision tree model using DecisionTreeClassifier
model = DecisionTreeClassifier(criterion='gini', max_depth=3, random_state=42)
model.fit(X_train,y_train)

DecisionTreeClassifier(max_depth=3, random_state=42)

In [27]:
# Predict the test data
y_pred = model.predict(X_test)

In [28]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

acc = accuracy_score(y_test, y_pred)
print("Accuracy : {:.2f}%".format(acc * 100))

Accuracy : 94.63%

In [29]:
print(confusion_matrix(y_test, y_pred))

[[122   3]
 [  8  72]]

In [30]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

      benign       0.94      0.98      0.96       125
   malignant       0.96      0.90      0.93        80

    accuracy                           0.95       205
   macro avg       0.95      0.94      0.94       205
weighted avg       0.95      0.95      0.95       205