# Question 4

#Name-Aman Gupta #cwid-20018346

In [220]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [221]:
df = pd.read_csv("CS513_targeting_cat_full.CSV",na_values = " ")

In [222]:
df.head()

   Customer    Age Gender Region Product Purchase
0         1    <30      F  North       A      Yes
1         2  30<50      M  North       B      Yes
2         3  30<50      F  North       B       No
3         4    50<      M  North       B       No
4         5    <30      F  North       A      Yes

In [223]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Customer  240 non-null    int64
 1   Age       240 non-null    object
 2   Gender    240 non-null    object
 3   Region    240 non-null    object
 4   Product   240 non-null    object
 5   Purchase  240 non-null    object
dtypes: int64(1), object(5)
memory usage: 11.4+ KB

In [224]:
df.Purchase.unique()
df.isnull().sum()

Customer    0
Age         0
Gender      0
Region      0
Product     0
Purchase    0
dtype: int64

In [225]:
def map_age(age):
    if age == '<30':
        return 15
    elif age == '30<50':
        return 40
    elif age == '50<':
        return 75

# Apply the function to the Age column
df['Age'] = df['Age'].apply(map_age)

In [226]:
# One-hot encode the categorical features
df = pd.get_dummies(df, columns=['Gender', 'Region', 'Product','Purchase'])

In [227]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [228]:

X= df.iloc[:,:-2].values
y= df.iloc[:,-1].values

In [229]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.30)
train_df, test_df = train_test_split(df, test_size=0.3, random_state=42)

In [230]:
from sklearn.preprocessing import StandardScaler
scaler =StandardScaler()
scaler.fit(X_train)
X_train= scaler.transform(X_train)
X_test= scaler.transform(X_test)

In [231]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train, y_train)

y_pred=gnb.predict(X_test)

In [232]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

acc = accuracy_score(y_test, y_pred)
print("Accuracy : {:.2f}%".format(acc * 100))

Accuracy : 81.94%

In [233]:
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

print(f'Accuracy: {accuracy}')
print(f'Precision: {precision}')
print(f'Recall: {recall}')
print(f'F1 Score: {f1}')

Accuracy: 0.8194444444444444
Precision: 0.8076923076923077
Recall: 0.7241379310344828
F1 Score: 0.7636363636363636

In [234]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.83      0.88      0.85        43
           1       0.81      0.72      0.76        29

    accuracy                           0.82        72
   macro avg       0.82      0.80      0.81        72
weighted avg       0.82      0.82      0.82        72